<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sufficientlysecure.donations.example">

    <application
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:label="Donations Example">
        <activity
            android:name=".DonationsActivity"
            android:label="Donations">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>